@charset "EUC-KR";

table caption {
	caption-side: top;
	font-size : 30px;
	font-weight: bold;
	color : black;
}

.container0 {display: flex; justify-content: center; margin-top : 50px}
.container0-1 {border: none; width : 10%; margin-right :40px; text-align : center;}
.container {border: 1.5px solid #059669; border-radius : 30px;  padding : 40px; margin : 0px 40px 0px 0px}
table {width : 100% ; margin : 0 auto; margin-top : 35px}

.cP0-1 {margin : 30px 20px 20px 0; font-size : 13px; text-align : right;}
.cP0 {margin : 20px 20px 20px 0; font-size : 13px; text-align : right;}
.cP0-t {margin : 20px 20px 10px 0; font-size : 13px; text-align : right;}
.cA0 {color : gray; text-decoration : nonel; font-weight : bold}
.cA0:hover {color : #059669; text-decoration : none; font-weight : bold}
.cP1 {font-size : 15px; font-weight : bold}

.cP0-2 {margin : 20px 20px 20px 0; font-size : 13px; text-align : right;}
.cP0-2:hover {color : #059669; text-decoration : none; font-weight : bold}

.cP0-3 {margin : 20px 20px 20px 0; font-size : 13px; text-align : right;}
.cP0-3:hover {color : #059669; text-decoration : none; font-weight : bold}

.cP0-4 {margin : 20px 20px 20px 0; font-size : 13px; text-align : right;}
.cP0-4:hover {color : #059669; text-decoration : none; font-weight : bold}

.cP0-5 {margin : 20px 20px 20px 0; font-size : 13px; text-align : right;}
.cP0-5:hover {color : #059669; text-decoration : none; font-weight : bold}

.cA0.active {color: #059669;}

