
.table{width : 100%; margin : 0 auto; font-size : 12px}

.inquiryDetail {text-decoration: none; color : black; }
.inquiryDetail:hover {text-decoration: none; font-weight : bold; color : #059669}

.inquiryUpdate {text-decoration: none; font-size : 15px; border-radius : 10px; border : none; width : 50px; height : 23px; text-align: center; color : white ; background : #1d4ed8; transition: background 0.3s, color 0.3s; }
.inquiryUpdate:hover {text-decoration: none; font-size : 15px; border : 1px solid #1d4ed8; border-radius : 10px; width : 50px; height : 23px; text-align: center; color : #1d4ed8 ; background : white}

.inquiryDelete {text-decoration: none; font-size : 10px; border-radius : 10px; border : none; width : 50px; height : 23px; text-align: center; color : white ; background : #be123c; transition: background 0.3s, color 0.3s; line-height: 23px }
.inquiryDelete:hover {text-decoration: none; font-size : 10px; border : 1px solid #be123c; border-radius : 10px; width : 50px; height : 23px; text-align: center; color : #be123c ; background : white; line-height: 23px}


table caption {
	caption-side: top;
	font-size : 25px;
	font-weight: bold;
	color : black;
}

.table {text-align : center}

th:nth-child(2) {text-align : left}
td:nth-child(2) {text-align : left}

th:nth-child(3) {text-align : left}
td:nth-child(3) {text-align : left}

textarea {resize:none; width:35%;}

.comS {font-weight : bold; color : #1d4ed8}
.comP {font-weight : bold; color : #4A4C4C}