@charset "EUC-KR";

.d1 {width : 100%; display : flex; gap : 20%; margin-top : 30px}
.d2 {display: flex;  flex-wrap: wrap; border : 1.5px solid #059669; border-radius : 20px; width : 40%; margin-left : 15px; min-height : 500px; max-height : 600px; overflow-y: auto;}
.d3 {display: flex;  flex-wrap: wrap; border : 1.5px solid #059669; border-radius : 20px; width : 40%; margin-right : 15px; min-height : 500px; max-height : 600px; overflow-y: auto;}

.fileD {width: 30%; text-align : right}
.infoI {margin-top : 25px}
.infoIs {margin-top : 25px; border-radius : 30px}
.infoD {display: block; width : 55%; text-align : right; margin-top : 10px}
p {margin-bottom : 5px}

.ec {width : 100%; margin-top : 70%; text-align : center; color : #be123c}