@charset "EUC-KR";

#stable {width : 80% !important; margin-top : 0px; margin-bottom : 0px}
.table-wrapper {width : 100% ; min-height: 550px; max-height: 550px; overflow-y: auto; margin-top : 15px}
.tablehd {position : sticky; background-color: white; top : 0; z-index : 1;}

th:nth-child(1) {width : 24.73%}
th:nth-child(2) {width : 14.54%}
th:nth-child(3) {width : 15.74%}
th:nth-child(4) {width : 31.27%}
th:nth-child(5) {width : 13.73%}

.totalD {text-align : center; margin-top : 40px};

.d {background : red}
.d:hover {background : blue}

.c  {font-size : 12px; border-radius : 20px; border : none; width : 70px; height : 20px; color : white ; background : orange; margin-left : 10px;  transition: background 0.3s, color 0.3s; }
.c:hover  {font-size : 12px; border-radius : 20px; border : 1px solid orange; width : 70px; height : 20px; color : orange ; background : white; margin-left : 10px;  transition: background 0.3s, color 0.3s; }

form {margin : 25px 0 0 10px;}
select {font-size : 12px; border-radius : 20px; border : 1px solid orange; width : 60px; height : 20px; text-align : center; outline: none;}

.empty-td {border : none!important}

.topPB {display: flex; justify-content: left;}

.excelD {margin-top : -25px}
.excelB {border : 1px solid green; border-radius : 5px; background : white; width : 30px; padding:0px}
.excel {width : 25px!important}

.ns {text-align : center; margin-top : 10%}