@charset "EUC-KR";

.imgb {text-align:center; margin-bottom : 35px}
.imgL {position: relative; display: inline-block; text-align : center;  min-width: 1200px;}
.Limg {width : 100%; height : auto; display: block; margin : 0 auto}

.container {min-width : 1200px;}
.table {width : 70%; margin : 0 auto}

.faqDetail {text-decoration: none; color : black}
.faqDetail:hover {text-decoration: none; font-weight : bold; color : #059669}

.faqUpdate {text-decoration: none; font-size : 15px; border-radius : 10px; border : none; width : 50px; height : 23px; text-align: center; color : white ; background : #1d4ed8; transition: background 0.3s, color 0.3s; }
.faqUpdate:hover {text-decoration: none; font-size : 15px; border : 1px solid #1d4ed8; border-radius : 10px; width : 50px; height : 23px; text-align: center; color : #1d4ed8 ; background : white}

.faqDelete {text-decoration: none; font-size : 15px; border-radius : 10px; border : none; width : 50px; height : 23px; text-align: center; color : white ; background : #be123c; transition: background 0.3s, color 0.3s; }
.faqDelete:hover {text-decoration: none; font-size : 15px; border : 1px solid #be123c; border-radius : 10px; width : 50px; height : 23px; text-align: center; color : #be123c ; background : white}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-215%, -50%); 
    color: white; /* 글자 색상 */
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px; 
    text-align: left;
}

.p1 {margin-bottom : 0px; font-weight : bold}
.imgP2 {font-weight : bold; font-size : 18px}



.btnWrite {font-size :  10px; border-radius : 20px; border : none; width : 80px; height : 23px; color : white ; background : #be123c; margin-left : 10px;  transition: background 0.3s, color 0.3s;position: fixed;   /* 화면에 고정된 위치 */
  left: 50%;         /* 화면의 가운데 위치 */
  bottom: 20px;      /* 화면 아래에서 20px 만큼 여백 */
  transform: translateX(-50%); /* 정확한 수평 중앙 정렬 */ }
.btnWrite:hover {font-size :  10px; border-radius : 20px; border : 1px solid #be123c; width : 80px; height : 23px; color : #be123c ; background : white; margin-left : 10px }