@charset "EUC-KR";


.container {border: 1.5px solid #059669; border-radius : 30px; width : 50%; margin : 0 auto; padding : 40px}

#downImg {width : 10px}

h1 {margin-bottom : 40px}

label{font-weight:bold}

#upfile{display:none}

img{width:20px;}

textarea{resize:none}

.uploadbBtn {font-size :  10px; border-radius : 20px; border : none; width : 80px; height : 23px; color : white ; background : #1d4ed8; margin-left : 10px; transition: background 0.3s, color 0.3s;}
.resetBtn {font-size :  10px; border-radius : 20px; border : none; width : 80px; height : 23px; color : white ; background : #be123c; margin-left : 10px; transition: background 0.3s, color 0.3s;}
.backBtn {font-size :  10px; border-radius : 20px; border : none; width : 80px; height : 23px; color : white ; background : #059669; margin-left : 10px; transition: background 0.3s, color 0.3s;}

.uploadbBtn:hover {font-size :  10px; border-radius : 20px; border : 1px solid #1d4ed8 ; width : 80px; height : 23px; color : #1d4ed8 ; background : white; margin-left : 10px; transition: background 0.3s, color 0.3s;}
.resetBtn:hover {font-size :  10px; border-radius : 20px; border : 1px solid #be123c; width : 80px; height : 23px; color : #be123c ; background : white; margin-left : 10px; transition: background 0.3s, color 0.3s;}
.backBtn:hover {font-size :  10px; border-radius : 20px; border : 1px solid #059669; width : 80px; height : 23px; color : #059669 ; background : white; margin-left : 10px; transition: background 0.3s, color 0.3s;}

 tr:last-child td:last-child {
 	text-align:right; 
 	padding-left: 0;
    margin-right: 0;
}

textarea{
	border:none;
	resize:none;
	background-color:transparent;
	outline: none;
}
