@charset "EUC-KR";

.homeb {text-align:center}
.homeL {position: relative; display: inline-block; text-align : center;  min-width: 1200px;}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-180%, -50%); 
    color: white; /* 글자 색상 */
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 5px; 
    text-align: left;
}

.Limg {height: 350px; width:100%; border-radius: 20px;}

p {margin-bottom : 0px}
.p1 {font-size : 25px; font-weight : bold; margin-bottom : -7px}
.p2 {font-size : 40px; font-weight : bold}
.p3 {font-weight : bold}

.btnD {display: flex; justify-content: center; gap: 160px; margin : 50px;}
.btnI {color : #059669; background : white; border : 1.5px solid #059669; border-radius : 30px; width : 150px; height : 130px; display: flex;
    	flex-direction: column; align-items: center;  justify-content: center; position: relative;  transition: background 0.5s, color 0.5s;
    	box-shadow : 5px 5px 5px -3px gray}

.btnI:hover {color: white; background: #059669; border: 1.5px solid #059669;  opacity: 0.7; box-shadow : 5px 5px 5px -3px black inset}

.normal {display: block}
.hover {display: none}

.btnI:hover .normal {display: none;}
.btnI:hover .hover {display: block;}


.btnI:hover .btnP1 {color: white;}


.button-image1 {width : 30px}
.button-image2 {width : 35px; margin-left : 8px}


.btnP1 {color : gray; margin-top : 10px}

