.table{width : 100%; margin : 0 auto}

.inquiryDetail {text-decoration: none; color : black; }
.inquiryDetail:hover {text-decoration: none; font-weight : bold; color : #059669}

.inquiryUpdate {text-decoration: none; font-size : 15px; border-radius : 10px; border : none; width : 50px; height : 23px; text-align: center; color : white ; background : #1d4ed8; transition: background 0.3s, color 0.3s; }
.inquiryUpdate:hover {text-decoration: none; font-size : 15px; border : 1px solid #1d4ed8; border-radius : 10px; width : 50px; height : 23px; text-align: center; color : #1d4ed8 ; background : white}

.inquiryDelete {text-decoration: none; font-size : 15px; border-radius : 10px; border : none; width : 50px; height : 23px; text-align: center; color : white ; background : #be123c; transition: background 0.3s, color 0.3s; }
.inquiryDelete:hover {text-decoration: none; font-size : 15px; border : 1px solid #be123c; border-radius : 10px; width : 50px; height : 23px; text-align: center; color : #be123c ; background : white}

th:nth-child(6), th:nth-child(6){
	text-align:center;
}

td:nth-child(6), td:nth-child(6){
	text-align:center;
}

table caption {
	caption-side: top;
	font-size : 30px;
	font-weight: bold;
	color : black;
}

textarea {resize:none; width:35%;}