@charset "EUC-KR";

form {text-align : center}
.container {border: 1.5px solid #059669; border-radius : 30px; width : 50%; margin : 0 auto; padding : 40px}
.d1 {display: flex; justify-content: center;}

h1 {margin-bottom : 40px}
span {margin : 0 10px 0 10px; font-weight : bold}
input {width : 130px; height : 20px; border-radius : 20px; text-align : center; font-size : 12px; border : 1px solid #059669; outline: none; }
#match_time {width : 130px; height : 20px; border-radius : 20px; text-align : center; font-size : 12px; border : 1px solid #059669; outline: none; margin-right : 5px}

hr {width  : 70%}
.d2 {margin-right : 150px;}
.playerMm {width : 60px}
.player_gender {width : 30px}
.pD {display: flex; justify-content: center;}
label {display: flex; align-items: center;}
.pS {margin-top : 3px}
.Ds {margin : 10px 480px 0 0}
.Dd2 {min-height : 400px}

.uploadbBtn {font-size :  10px; border-radius : 20px; border : none; width : 80px; height : 23px; color : white ; background : #1d4ed8; margin-left : 10px; transition: background 0.3s, color 0.3s;}
.resetBtn {font-size :  10px; border-radius : 20px; border : none; width : 80px; height : 23px; color : white ; background : #be123c; margin-left : 10px; transition: background 0.3s, color 0.3s;}
.backBtn {font-size :  10px; border-radius : 20px; border : none; width : 80px; height : 23px; color : white ; background : #059669; margin-left : 10px; transition: background 0.3s, color 0.3s;}

.uploadbBtn:hover {font-size :  10px; border-radius : 20px; border : 1px solid #1d4ed8 ; width : 80px; height : 23px; color : #1d4ed8 ; background : white; margin-left : 10px; transition: background 0.3s, color 0.3s;}
.resetBtn:hover {font-size :  10px; border-radius : 20px; border : 1px solid #be123c; width : 80px; height : 23px; color : #be123c ; background : white; margin-left : 10px; transition: background 0.3s, color 0.3s;}
.backBtn:hover {font-size :  10px; border-radius : 20px; border : 1px solid #059669; width : 80px; height : 23px; color : #059669 ; background : white; margin-left : 10px; transition: background 0.3s, color 0.3s;}