@charset "EUC-KR";

.table {width : 100%; margin : 0 auto; font-size : 12px}

table caption {
	caption-side: top;
	font-size : 25px;
	font-weight: bold;
	color : black;
}


.noticeDetail {text-decoration: none; color : black; }
.noticeDetail:hover {text-decoration: none; font-weight : bold; color : #059669}

.noticeUpdate {text-decoration: none; font-size : 10px; border-radius : 10px; border : none; width : 50px; height : 23px; text-align: center; color : white ; background : #1d4ed8; transition: background 0.3s, color 0.3s; line-height : 23px}
.noticeUpdate:hover {text-decoration: none; font-size : 10px; border : 1px solid #1d4ed8; border-radius : 10px; width : 50px; height : 23px; text-align: center; color : #1d4ed8 ; background : white; line-height : 23px}

.noticeDelete {text-decoration: none; font-size : 10px; border-radius : 10px; border : none; width : 50px; height : 23px; text-align: center; color : white ; background : #be123c; transition: background 0.3s, color 0.3s; line-height : 23px}
.noticeDelete:hover {text-decoration: none; font-size : 10px; border : 1px solid #be123c; border-radius : 10px; width : 50px; height : 23px; text-align: center; color : #be123c ; background : white; line-height : 23px}

.btnWrite{text-decoration: none; font-size : 12px; border-radius : 20px; border : none; width : 90px; height : 23px; text-align: center; color : white ; background : #be123c; transition: background 0.3s, color 0.3s; margin-top : 20px; line-height: 23px}
.btnWrite:hover {text-decoration: none; font-size : 12px; border : 1px solid #be123c; border-radius : 20px; width : 90px; height : 23px; text-align: center; color : #be123c ; background : white; line-height: 23px}

th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(4){
	text-align:center;
	}
td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4){
	text-align:center;
	}

.input-groupc {
    display: flex;
    justify-content: flex-end;  /* 요소들을 오른쪽 끝으로 정렬 */
    width: 90%;  /* 부모 컨테이너 전체 너비에 맞게 */
    padding: 30px
}

.input-group {
    display: flex;
    justify-content: flex-end;  /* 요소들을 오른쪽 끝으로 정렬 */
    width: 90%;  /* 부모 컨테이너 전체 너비에 맞게 */
    padding: 5px
}

.filterButton {
	width : 60px;
    margin-left: 10px;  /* 버튼과 입력 필드 사이에 간격을 추가 */
    border : none;
	border-radius:20px;
	background-color: #059669;
	color:white;
	font-size:10px;
	
}

.search{
	width: 200px;  /* 검색 입력 필드의 너비 설정 */
	border:1px solid #059669;
	border-radius:20px;
	outline: none;
	font-size : 12px;
	padding-left : 10px
}

textarea {resize:none; width:35%;}
.np {margin-top : 15%!important}

.Bd {margin-top : 50px; text-align : center}

.deleteB {text-align : center}
