@charset "EUC-KR";

.nm {text-align : center; color : #be123c; margin-top : 150px}
.inquiryD {min-height : 500px} 

.table {width : 100%; text-align : center}

th:nth-child(1) {width : 15%}
th:nth-child(2) {width : 25%}
th:nth-child(3) {width : 10%}
th:nth-child(4) {width : 20%}
th:nth-child(5) {width : 10%}
th:nth-child(6) {width : 10%}
th:nth-child(7) {width : 10%}


a {text-decoration: none; color : black}
a:hover {text-decoration: none; font-weight : bold; color : #059669}

.updateBtn {font-size :  12px; border-radius : 10px; border : none; width : 55px; height : 28px; color : white ; background : orange; transition: background 0.3s, color 0.3s; margin : 0px}
.updateBtn:hover {font-size :  12px; border : 1px solid orange; border-radius : 10px; width : 55px; height : 28px; color : orange ; background : white; margin : 0px}

.deleteBtn {font-size :  12px; border-radius : 10px; border : none; width : 55px; height : 28px; color : white ; background : #d60e0e; transition: background 0.3s, color 0.3s}
.deleteBtn:hover {font-size :  12px; border : 1px solid #d60e0e; border-radius : 10px; width : 55px; height : 28px; color : #d60e0e ; background : white}

.comS {font-weight : bold; color : #1d4ed8}
.comP {font-weight : bold; color : #4A4C4C}